*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
background-color: rgb(0, 0, 0);
height: 100;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;

}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 300;
    background-color: darkorchid;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-contato button:hover{
    box-shadow: 0px 0px 8px rgb(97, 18, 136);
    transform: scale(1.07);
}

h2.titulo{
    color: #fff;
    font-size: 32px;
    text-align: center;
}

h2.titulo span{
    color: darkorchid;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 7px darkorchid;
    transform: scale(1.06);
}

/* Cabeçalho */

header{
    padding: 0px 4%;

}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header a{
    color: #7b7b7b;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: #fff;
    transform: scale(1.07);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

section, #topo-do-site{
    padding: 40px 4%;
}

section, #topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

#topo-do-site h1{
    color: floralwhite;
    font-size: 40px;
    line-height: 32px;
}
#topo-do-site h1 span{
    color: darkorchid;
}
#topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}

#topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 1s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 40px;
    }
}

/* Estilo das ESPECIALIDADES*/

section, #especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

#especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

#especialidades .especialidades-box:hover{
    transform: scale(1.06);
    box-shadow: 0 0 20px #b300ff79;
}

#especialidades .especialidades-box i{
    font-size: 50px;
    color: rgb(200, 0, 255);
}

#especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

/* SOBRE */

section, #sobre{
    padding: 60px 4%;
}

section, #sobre .flex{
    align-items: center;
    gap: 60px;
}

#sobre .txt-sobre{
    color: #fff;
}

#sobre .txt-sobre h2{
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 30px;
}

#sobre .txt-sobre h2 span{
    color: chartreuse;
    display: block;
}

#sobre .txt-sobre p{
    margin: 15px 0;
    text-align: justify;
}

#sobre .img-sobre img{
    border-radius: 20px;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 40px;
    border: none;
    background-color: darkorchid;
    font-size: 25px;
    cursor: pointer;
    margin: 0 6px;
    transition: .2s;
}

/* Portifólio*/

section, #portifolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #9500ff1d;
}

section, #portifolio .flex{
    justify-content: space-around;
    gap: 60px;
}

section, #portifolio .flex button{
    justify-content: space-around;
    gap: 60px;
    font-size: 25px;
    border-radius: 10px;
}

.img-port{
    width: 200px;
    height: 240px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 3s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 0, 49, 0.527);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}


/* Rodapé */

footer{
    padding: 20px 4%;
    box-shadow: 0px 0px 7px darkorchid;
}


footer .flex{
    justify-content: center;
    margin: 20px;
}

.borda{
    margin: 2px;
    border-top: 2px solid darkorchid;
    margin: 2px;
}

footer .line-footer p i{
    color: darkorchid;
    font-size: 20px;
    margin: 2px;
}

.footer .line-footer p a{
    color: #fff;
    margin: 2px;
}